.centrado{
    text-align: justify;
}
.imagen-con-texto{
    height: 350px;
}

.logo-img {
    max-width: 100%;
    height: auto;
    max-height: 60px; /* ajusta la altura máxima según tus necesidades */
  }
.contenido {
    padding: 5%;
    text-align: justify;
 }


 footer {
	background-color:#1A1A1A;
	height: 50%;
  color: white;
  padding: 15px;
}

.main1 { 
  display:flex;
  margin:0 auto;
}

a img:hover {
    color: #fff;
}

@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css');

.card {
  width: 300px;
  height: 600px;
  text-overflow: ellipsis;

  overflow: hidden;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;

  
}

.card-text{

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.imgs{
  width: 20rem; 
  height: 18rem; 
  object-fit: cover;
}